* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    align-items: center;
    display: block;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    justify-self: stretch;
}
div {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
}
.div-1 {
    border: 3px solid blueviolet;
}
.div-2 {
    border: 3px solid red;
}
.div-3 {
    border: 3px solid purple;
}
.div-4 {
    border: 3px solid orchid;
}
.div-5 {
    border: 3px solid black;
}
.div-6 {
    border: 3px solid gold;
}
.div-7 {
    border: 3px solid aqua;
}
.div-8 {
    border: 3px solid yellowgreen;
}
.div-9 {
    border: 2px solid blue;
    height: 89px;
    width: 89px;
    margin-left: auto;
} 